---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import brothers from '../../images/brothers.jpeg';
import cooking from '../../images/cooking.jpeg';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getLangFromUrl } from '../../i18n/utils';
// const lang = getLangFromUrl(Astro.url);
// import { useTranslations } from '../i18n/utils';
const lang = Astro.currentLocale || 'en';
const home = getRelativeLocaleUrl(lang, '/');
---
<Layout>
    <div class=" px-6 py-32 lg:px-8 relative">
        <!-- Back Button -->
        <a href={home} class="absolute top-8 left-6 lg:left-8 flex items-center text-gold hover:text-satin-gold transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
            </svg>
            <span>Natrag na početnu</span>
        </a>
        
        <div class="mx-auto max-w-3xl text-base/7 text-gray-700 relative z-10">
        <p class="text-base/7 font-semibold text-gold">Dobrodošli u restoran The Botanist!</p>
        <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-100 sm:text-5xl">Dobrodošli i nadamo se da ćete s nama provesti lijepo vrijeme</h1>
        <p class="mt-6 text-xl/8 text-satin-gold">uživanja u hrani i piću te našoj toploj i ugodnoj atmosferi restorana.</p>
        <div class="mt-10 max-w-2xl space-y-6 text-gray-200">
            <p class="font-bold">Naš koncept…</p>
            <p>Kako bi Vam predstavili restoran u najboljem svjetlu, ispričat ćemo Vam priču kako smo došli do ideje i realizacije otvaranja našeg restorana <i>The Botanist</i>.</p>
            <p>Mi smo četiri brata koja su rođena i odrastala cijeli svoj život u rodnim Petrčanima udaljenim 12 kilometara do Zadra. Odrasli u siromašnoj familiji, a naše djetinjstvo u poslijeratnoj Hrvatskoj je iz sadašnje perspektive bilo teško, no unatoč teškim vremenima bili smo najsretnija djeca na svijetu. Iako u neimaštini, naše odrastanje je proteklo uz puno zabave, igre, ljubavi naših brižnih roditelja koji su nam usadili sve životne vrijednosti, poštenje, skromnost, borbenost i težak rad koje treba baštiniti čitav život. Naravno, povrh svega prevladavala je ljubav prema svome bližnjemu te ona biblijska izreka “nemoj činiti ništa što ne bi htio da se tebi učini”.</p>
            <p>Naša majka koja je imala vodeću ulogu u familiji i njena neumorna želja da nam priušti što bolji život te otac kao moralna vertikala i uzor naučili su nas kako u životu treba držati do pravih vrijednosti. Naučeni smo da materijalno nije toliko važno, već su važniji životni stavovi i naporan rad putem kojeg ćemo steći onu svakodnevnu blagodat.</p>
            <p>Roko, kao najstariji od četvero braće završio je srednju školu na Pučišćima na otoku Braču smjer kamenoklesarski tehničar, a kroz školovanje je naučio fino izračunavanje kuteva, preciznost u tehnikama obrade kamena (što je kasnije preraslo u tehnike fine obrade drveta), a sve te vještine naučile su ga discipliniranosti u radu.</p>
            
            <!-- <h2 class="mt-16 text-pretty text-3xl font-semibold tracking-tight text-gray-100">Our story…</h2> -->
            <p>Duje je završio kuharsku školu, a još kao dijete imao je izražene afinitete prema gurmanstvu i kuhanju kao što se vidi po njegovom guštanju u pripremljenoj hrani. </p>
            <p>Vice je pohađao srednju frizersku školu te je vrlo brzo nakon škole odselio u daleke europske zemlje u potrazi za životom koji više odgovara njegovim afinitetima mirnijeg i kulturnijeg života u dobro organiziranim sredinama. </p>
            <p>Our mother, who had a leading role in the family with her tireless desire to give us the best possible life, and our father as a moral vertical and role model, taught us how to hold true values in life. We were taught that material things are not so important, but more important are life attitudes and hard work through which we will acquire daily blessings. </p>
            <p>Roko, as the oldest of four brothers, graduated from high school in Pučišća on the island of Brač,  majoring in stonemasonry tehnician, and through his education he learned fine calculation of  angles, precision in stone processing techniques (which later developed into fine woodworking  techniques), and all these skills taught him to be disciplined in his work.</p>
            <p>Duje graduated from a cooking school, and even as a child he had a strong affinity for gastronomy as can be seen from his enjoyment in creating dishes.</p>
            <p>Vice moved very soon after school to distant European countries in search of a life that better suited his affinities for a more peaceful and cultural life, in well-organized environments.</p>
            <p>Lujo, kao najmlađe dijete, uz nas starije, naučio je sve o izradi takoreći od igle do lokomotive te je nakon srednje škole u Zadru, upisao studij povijesti umjetnosti kako bi utažio želju za afinitetima prema razumijevanju kreacije umjetnosti što se kasnije pretočilo i u kulinarsko stvaralaštvo.</p>
        </div>
        <figure class="mt-16">
            <Image src={brothers} alt="Braća botaničari" class="aspect-video rounded-xl bg-gray-50 object-cover" loading="eager"/>
            <figcaption class="mt-4 flex gap-x-2 text-sm/6 text-gray-300">
            <svg class="mt-0.5 size-5 flex-none text-gray-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z" clip-rule="evenodd" />
            </svg>
            Braća botaničari
            </figcaption>
        </figure>
        <div class="mt-16 max-w-2xl text-gray-200 space-y-6">
            <p>Mi Dalmatinci odrastanje u Dalmaciji percipiramo kroz turizam i ugostiteljstvo, obzirom da je to uz more, najautohtonija ponuda našeg područja. Kako kaže stara izreka našeg dragog Enija Meštrovića “da su najuspješniji ljudi oni s praznim frižiderom u djetinjstvu” tako smo i mi nakon odrađenih par poslije školskih sezona kod drugih poslodavaca  smišljali načine kako pokrenuti nešto svoje te smo se konačno 2012. godine okuražili svojim rukama i posuđenim novcima sagraditi “Beach House Fratelli” koji još dan danas posluje na glavnoj plaži u Petrčanima. Nakon toga smo se okušavali i u drugim poslovnim pothvatima, nekima zaista uspješnima, a nekima malo manje. Ali, sve nam je to davalo motivacije da ostvarujemo svoje snove i da se ne obeshrabrujemo na tom putu.</p>
            <p>Paralelno uz ugostiteljske pothvate, razvijali smo i naše glazbene talente. Tako je Duje sudjelovao i dogurao do finala popularnog showa Hrvatska traži zvijezdu. Zajedno s Lujom ostavio je vrijedne i zapažene uloge u klapi Kožino koja je osvojila sve nagrade koje su se mogle osvojiti u tradicionalnom a capella pjevanju. (*Klapa je skupina od pet do osam pjevača koji pjevaju a capella, bez dirigenta i pratnje glazbala. Sastoji se od prvog tenora, drugog tenora, baritona i basa. Klapa promiče tradicionalni način pjevanja svojstven za Dalmaciju (teme o kojima klapa pjeva su more, vino, ljubav i obitelj).</p>
            <p>Nakon nekog vremena Vice se skrasio u Stockholmu, Duje je studirao operno pjevanje u Beču, dok je posao vodio Roko uz pomoć Luje koji se paralelno bavio studijem.</p>
            <p>Jednog ljeta smo se svi skupa našli u rodnoj kući kada nam je Vice priopćio vijest da je postao vegan. Iako je naš otac još devedesetih godina bio proglašavan čudakom u malom mjestu Petrčane, nakon što je u jednoj doktorskoj disertaciji pročitao da crveno meso nije najzdravije pogotovo u velikim količinama, svejedno smo Vicu zafrkavali i danima se s njim nadmudrivali tvrdeći kako je to samo jedna od pomodnih gluposti na koju je nasjeo.</p>
            <p>Međutim, iako smo familija koja voli beskonačne rasprave i sukobe koliko god pokušali argumentirati smisao jedenja mesa uvijek bi pobjedu odnio - Vice. U moralnom, zdravstvenom, ekonomskom, etičkom, ekološkom smislu, njegovi argumenti su bili nepobjedivi. Mi smo ga i dalje napadali, ali kako kaže legenda, naše oštrice otupiše, a ruke i noge klonuše pred čvrstim Vicinim argumentima, pa nam nije ostalo ništa doli pogledati nekolicinu dokumentarnih filmova koje nam je brat preporučio.</p>
            <figure class="mt-16">
                <Image src={cooking} alt="Umijeće kuhanja" class="aspect-video rounded-xl bg-gray-50 object-cover" loading="eager"/>
                <figcaption class="mt-4 flex gap-x-2 text-sm/6 text-gray-300">
                <svg class="mt-0.5 size-5 flex-none text-gray-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z" clip-rule="evenodd" />
                </svg>
                Umijeće kuhanja
                </figcaption>
            </figure>
            <p>Obzirom na formulu emotivna inteligencija + informacija = aktivizam, brzo smo shvatili da u mesnoj industriji nema ljubavi i da mnoge stvari nisu dobre. Nismo više željeli biti dionici toga te smo postupno kroz godine došli u fazu promišljanja o otvaranju svog veganskog restorana. Mnoge ideje su nam padale na pamet, ali nije bilo pravo vrijeme. Tako smo sasvim slučajno 2021. godine došli do lokacije na kojoj upravo sjedite te smo uz puno muka (i još više posuđenih financija) otvorili The Botanist. </p>
            <p>Nit vodilja bila nam je napraviti restoran dostojan svakog gosta, a ne samo vegana i vegetarijanaca. U odlascima u obične restorane u 99% slučajeva ostajali smo razočarani vege ponudom i uvijek bi se svodila na ubijeno povrće na žaru i blijedi i neukusni povrtni rižoto. No, kada bi otišli u veganske restorane njihova ponuda bi se uvijek svodila na wraps, bowls, burgers i generalno brzu prehranu koja nas nikad nije zadovoljavala u potpunosti te smo se uvijek osjećali građanima drugog reda. </p>
            <p>Odrasli smo s babom i didom koji su bili pravi gurmani i uvjereni smo da su živjeli u nekom drugom vremenu sigurno bi imali svoj restoran koji bi bio poznat u cijelom svijetu. Jako su pazili na okuse i uvik su govorili “da je lipša lipo skuvana pašta bez ikakvog umaka nego bilo koji solidno spremljeni odrezak na svitu.” Također, prehrana naše babe i dida većinom se sastojala od vegetarijanskih namirnica te je svega par puta mjesečno na meniju bilo mesa ili ribe. Dan danas nam je u ustima okus one “pašte na suvo” (*tjestenina s umakom od rajčica) naše babe koju mi danas pokušavamo reproducirati, no uvjereni smo da joj nismo ni blizu.</p>
            <p>Kuhali su fokusirano, znali bi neumorno kušavati jelo po trideset puta prije nego ga sklone s vatre točno tražeći od svake namirnice ono što žele i dobijali bi to dodatnim kuhanjem, hlađenjem i začinjavanjem. BIli su predani dobivanju okusa, najvažnijeg faktora u kuhanju, a svađali bi se kada bi nešto bilo ispod visokog standarda koji su postavili. Isto tako, ljubav bi cvala kada bi ručak bio ukusan i teksturom na nivou. </p>
            <figure class="mt-10 border-l border-gold pl-9">
                <blockquote class="font-semibold text-satin-gold">
                  <p>Sve moderne metode popud confitiranja, sous vide metode, slow cooking metode svakodnevno bi prakticirali pa se varivo od čičvarde znalo kuhati i po 8 sati!</p>
                </blockquote>
            </figure>
            <p>Baba bi ustala rano i spremila sve sastojke, stavila bi luk na maslinovo ulje te ga na minimalnoj vatri dinstala do mise. Tada bi dodala sve ostale suhe i mokre sastojke te pustila da se krčka dok se ne vrati s mise. Kada bi se vratila i provjerila okuse, završila bi proces slow cookinga, a ukusni ručak bio bi tada poslužen na stol. O savršenstvu njezinih jela možemo reći samo najbolje te ih se sjećamo s velikom nostalgijom.</p>
            <p>Oni su nam zadali put kojim i mi danas koračamo, te ga se nipošto ne želimo odreći. Želja nam je predstaviti Mediteran i Dalmaciju u najboljem svjetlu te Vam pokazati što sve možemo u smislu spajanja vrhunskih okusa na pijatu. Naše shvaćanje namirnica je ako je ona svježa i ukusna onda će i jelo sastavljeno od tih namirnica isto tako biti ukusno.</p>
            <p>Dalmacija je prebogata začinima i mirodijama kao što su sol, bosiljak, kadulja, slanuša, majčina dušica, metvica, ružmarin, koromač, lovor, vlasac, i mnogi drugi, ali i raznim povrćem i voćem koje je tako ukusno da je ponekad dovoljno raskrižati pomidor, kapnuti kap domaćega ulja, baciti zrno soli i uživati u kompletnom jelu.</p>
            <p>Mi u The Botanistu pokušavamo kuhati sva jela i dati im karakter Dalmacije, a istovremeno pokazati da se i veganska hrana može kuhati na vrhunskom gastronomskom nivou.  Danas smo restoran s preko 4000 stvarnih recenzija i ocjenom 4,9 što nas smješta na sam vrh restoranske ponude u gradu Zadru, ali i šire. Naravno, postoje i negativne recenzije koje su sasvim legitiman osobni doživljaj svakog gosta, ali one nas tjeraju da budemo još bolji te da se i dalje razvijamo i učimo.</p>
            <p>Također, jako nam je važno da imamo mrežu lokalnih obiteljskih poljoprivrednih gospodarstava od kojih kupujemo namirnice te se trudimo što više kupovati lokalno. Isto tako, radimo sami naše temeljce, juhe, umake, namaze, pesta te smo u procesu približavanja zero waste konceptu pripreme hrane i na taj način poticati svijest o brizi za okoliš.</p>
            <p>Naravno da imamo još puno posla, no svakodnevno ulažemo u poboljšanje poslovanja, te nam je želja da budemo održivi i da našim sugrađanima i stranim gostima prezentiramo našu hranu kroz odraz održive, osjećajne i kvalitetne Dalmacije.</p>
            <p>Surađujemo i s mnogim gradskim udrugama poput Latice, Zadarskog azila, lokalnim OPG-ovcima u smislu poklon paketa koje dijelimo gostima ukoliko naprave račun veći od 100,00 €.</p>
            <p>Hvala Vam što ste pročitali našu priču i nadamo ste da ste čitajući je prepoznali našu viziju o ovom posebnom gastronomskom iskustvu. Osjećajte se ugodno u oazi The Botanist gastronomskog užitka i želimo Vam dobar tek!</p>
        </div>
        </div>
    </div>
</Layout>