---
---
// No imports or layout
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url=/en/" />
    <script>
      window.location.replace('/en/');
    </script>
    <title>Redirecting...</title>
  </head>
  <body>
    <noscript>
      <meta http-equiv="refresh" content="0; url=/en/" />
      <p>Redirecting to <a href="/en/">/en/</a>...</p>
    </noscript>
  </body>
</html>
