---
import { Image } from 'astro:assets';
import story from '../images/story.jpg';
import Button from './Button.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang as 'en' | 'hr');
import { getRelativeLocaleUrl } from 'astro:i18n';
const aboutUrl = getRelativeLocaleUrl(lang, 'about');
---

<section id="about" class="py-16 md:py-24 bg-true-black">
	<div class="mx-auto px-4 max-w-7xl sm:px-6 lg:px-8">
    	<div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
      		<div>
        		<p class="text-xl text-gold font-barlow">{t('ourStory','about')}</p>
        		<h2 class="text-3xl md:text-4xl font-bold text-true-gold mb-6">{t('title','about')}</h2>
        		<p class="mb-4 text-satin-gold">{t('foundation','about')}</p>
        		<p class="mb-4 text-satin-gold">{t('veganism','about')}</p>
        		<p class="mb-6 text-satin-gold">{t('grandparents','about')}</p>        
				<div class="flex flex-col sm:flex-row gap-4">
					<Button url="#menu" text={t('button.exploreMenu')} style="primary" />
					<!-- <Button url={import.meta.env.BASE_URL + `/${lang}/about`} text={t('button.learnMore')} style="secondary" /> -->
					<Button url={aboutUrl} text={t('button.learnMore')} style="secondary" />
				</div>

        		<div class="grid grid-cols-2 gap-6 pt-14">
            		<div class="col-span-2 sm:col-span-1">
              	    <div class="flex flex-col items-center p-4 border-1 border-golden-brown rounded-lg">
                			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-8 w-8 text-golden-brown mb-3"><path d="M17 21a1 1 0 0 0 1-1v-5.35c0-.457.316-.844.727-1.041a4 4 0 0 0-2.134-7.589 5 5 0 0 0-9.186 0 4 4 0 0 0-2.134 7.588c.411.198.727.585.727 1.041V20a1 1 0 0 0 1 1Z"/><path d="M6 17h12"/></svg>
                			<h4 class="text-lg font-semibold text-satin-gold">{t('familyRecipes', 'about')}</h4>
                			<p class="text-sm text-center text-white">{t('familyRecipesText', 'about')}</p>
              			</div>
          			</div>
                
					<div class="col-span-2 sm:col-span-1">
						<div class="flex flex-col items-center p-4 border border-golden-brown rounded-lg">            
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-8 w-8 text-golden-brown mb-3"><path d="M16 8q6 0 6-6-6 0-6 6"/><path d="M17.41 3.59a10 10 0 1 0 3 3"/><path d="M2 2a26.6 26.6 0 0 1 10 20c.9-6.82 1.5-9.5 4-14"/></svg>
							<h4 class="text-lg font-semibold text-satin-gold">{t('plantBased', 'about')}</h4>
							<p class="text-sm text-center text-white">{t('plantBasedText', 'about')}</p>
						</div>
					</div>
        		</div>
      		</div>
      
      		<!-- About Image -->
      		<div class="relative">
				<div class="aspect-w-4 aspect-h-3 rounded-lg overflow-hidden shadow-2xl">
					<Image src={story} alt="The Botanist founders in their restaurant" class="w-full h-full object-cover" loading="eager"/>
				</div>
				<!-- Decorative Element -->
				<div class="absolute -bottom-6 -left-6 w-24 h-24 bg-satin-gold rounded-lg -z-10"></div>
				<div class="absolute -top-6 -right-6 w-24 h-24 bg-moss-green/20 rounded-lg -z-10"></div>
      		</div>
    	</div>
    
		<!-- Values Section -->
    	<div class="mt-20">
      		<h3 class="text-2xl md:text-3xl font-bold text-center mb-12 text-gold">{t('values' , 'about')}</h3>
      		<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
			<!-- Value 1 -->
			<div class="p-6 rounded-lg shadow-md border-t-5 border-gold">
				<div class="w-12 h-12 bg-black-olive rounded-full flex items-center justify-center mb-4">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gold" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
					</svg>
				</div>
				<h4 class="text-xl text-satin-gold font-semibold mb-3">{t('sustainable', 'about')}</h4>
				<p class="text-gray-100">{t('sustainableText', 'about')}</p>
			</div>
        
			<!-- Value 2 -->
			<div class="p-6 rounded-lg shadow-md border-t-5 border-gold">
				<div class="w-12 h-12 bg-black-olive rounded-full flex items-center justify-center mb-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 text-gold"><path d="M17 21a1 1 0 0 0 1-1v-5.35c0-.457.316-.844.727-1.041a4 4 0 0 0-2.134-7.589 5 5 0 0 0-9.186 0 4 4 0 0 0-2.134 7.588c.411.198.727.585.727 1.041V20a1 1 0 0 0 1 1Z"/><path d="M6 17h12"/></svg>
				</div>
				<h4 class="text-xl font-semibold mb-3 text-satin-gold">{t('culinaryExcellence', 'about')}</h4>
				<p class="text-gray-100">{t('culinaryExcellenceText', 'about')}</p>
			</div>
        
			<!-- Value 3 -->
			<div class="p-6 rounded-lg shadow-md border-t-5 border-gold">
				<div class="w-12 h-12 bg-black-olive rounded-full flex items-center justify-center mb-4">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gold" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
					</svg>
				</div>
					<h4 class="text-xl font-semibold mb-3 text-satin-gold">{t('communityConnection', 'about')}</h4>
					<p class="text-white">{t('communityConnectionText', 'about')}</p>
				</div>
      		</div>
    	</div>
	</div>
</section>