---
const { item } = Astro.props;
---
<div class="p-6 rounded-lg shadow-md flex border border-golden-brown">
    <div class="flex-1 text-left">
        <div class="flex justify-between items-start mb-2">
            <h4 class="text-base text-gold font-semibold">{item.name}</h4>
            <span class="text-gold font-medium">€{item.price}</span>
        </div>
        <p class="text-sm text-slate-100 mb-2">{item.description}</p>
    </div>
</div>