---
import '../styles/global.css';
import { getLangFromUrl } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
interface Props {
	title?: string;
	description?: string;
}
const { title = 'The Botanist | Vegan Restaurant in Zadar, Croatia', description = 'The Botanist is a vegan restaurant in Zadar, Croatia, inspired by Dalmatia\'s rich culinary heritage of herbs, spices, and fresh local produce.' } = Astro.props;
import Icon from '../components/Icon.astro';
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
		<link rel="manifest" href={import.meta.env.BASE_URL + '/site.webmanifest'}>
		<title>{title}</title>
		
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Prompt:wght@400;500;600;700&display=swap" rel="stylesheet">
		
		<!-- Alpine.js -->
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
